auto
figure
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
wildman_index_bleed_april_2017.pdf
wildman_index_bleed_april_2017.tex
*.run.xml
*.rip
cache
*.lof
*.lot
*.toc
*.fff
*.ttt
references.bib
*.nav
*.snm
